<%- model_class = Card -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:number) %>:</strong></dt>
  <dd><%= @card.number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exp_year) %>:</strong></dt>
  <dd><%= @card.exp_year %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exp_month) %>:</strong></dt>
  <dd><%= @card.exp_month %></dd>
  <dt><strong><%= model_class.human_attribute_name(:card_type) %>:</strong></dt>
  <dd><%= @card.card_type %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              cards_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_card_path(@card), :class => 'btn btn-default' %>
<%= link_to t('.add', :default => t("helpers.links.add")),
              user_cards_path(card_id: @card.id, user_id: 1),
                method: :post,
               :class => 'btn btn-info'  %>
<%= link_to t('.remove', :default => t("helpers.links.remove")),
              user_card_path(card_id: @card.id, user_id: 1),
                method: :delete,
               :class => 'btn btn-info'  %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              card_path(@card),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
